# The knowledge-based recommender
We add a knowledge-based recommender on top of our IMDB Top 250 clone that will perform the following tasks:
1. Ask the user for the genres of movies he/she is looking for
2. Ask the user for the duration
3. Ask the user for the timeline of the movies recommended
4. Using the information collected, recommend movies to the user that have a high weighted rating and that satisfy the preceding conditions

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving movies_metadata.csv to movies_metadata.csv

In [ ]:
metadata = pd.read_csv('movies_metadata.csv')
metadata.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
# keeping only the features we need
df = metadata[['title', 'genres', 'runtime', 'release_date', 'vote_average', 'vote_count']]
df.head()

                         title  ... vote_count
0                    Toy Story  ...     5415.0
1                      Jumanji  ...     2413.0
2             Grumpier Old Men  ...       92.0
3            Waiting to Exhale  ...       34.0
4  Father of the Bride Part II  ...      173.0

[5 rows x 6 columns]

In [ ]:
# extracting the year from the release date
df['release_date'] = pd.to_datetime(df.release_date, errors='coerce')
df['year'] = df.release_date.apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan )
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                         title  ...  year
0                    Toy Story  ...  1995
1                      Jumanji  ...  1995
2             Grumpier Old Men  ...  1995
3            Waiting to Exhale  ...  1995
4  Father of the Bride Part II  ...  1995

[5 rows x 7 columns]

In [ ]:
#converting year column to integers
def convert_int(x):
    try: 
        return int(x)
    except:
        return 0

In [ ]:
df['year'] = df.year.apply(convert_int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45460 non-null  object
 1   genres        45466 non-null  object
 2   runtime       45203 non-null  float64
 3   release_date  45376 non-null  datetime64[ns]
 4   vote_average  45460 non-null  float64
 5   vote_count    45460 non-null  float64
 6   year          45466 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 2.4+ MB

In [ ]:
df.drop('release_date', axis=1, inplace=True)
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                         title  ...  year
0                    Toy Story  ...  1995
1                      Jumanji  ...  1995
2             Grumpier Old Men  ...  1995
3            Waiting to Exhale  ...  1995
4  Father of the Bride Part II  ...  1995

[5 rows x 6 columns]

In [ ]:
# converting the genres column from dictionary to list
from ast import literal_eval

In [ ]:
df['genres'] = df.genres.fillna('[]')  # Converts all NaN into stringified empty lists
df['genres'] = df.genres.apply(literal_eval) # Applies literal_eval to convert to the list object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head()

                         title                        genres  ...  vote_count  year
0                    Toy Story   [Animation, Comedy, Family]  ...      5415.0  1995
1                      Jumanji  [Adventure, Fantasy, Family]  ...      2413.0  1995
2             Grumpier Old Men             [Romance, Comedy]  ...        92.0  1995
3            Waiting to Exhale      [Comedy, Drama, Romance]  ...        34.0  1995
4  Father of the Bride Part II                      [Comedy]  ...       173.0  1995

[5 rows x 6 columns]

In [ ]:
df.to_csv('metadata_clean.csv')
files.download('metadata_clean.csv')

In [ ]:
# Exploding the genres column by creating new features
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
s.name = 'genre'
s.head()

0    Animation
0       Comedy
0       Family
1    Adventure
1      Fantasy
Name: genre, dtype: object

In [ ]:
gen_df = df.drop('genres', axis=1).join(s)
gen_df.head()

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  Animation
0  Toy Story     81.0           7.7      5415.0  1995     Comedy
0  Toy Story     81.0           7.7      5415.0  1995     Family
1    Jumanji    104.0           6.9      2413.0  1995  Adventure
1    Jumanji    104.0           6.9      2413.0  1995    Fantasy

Building the recommender
1. Get user input on their preferences
2. Extract all movies that match the conditions set by the user
3. Calculate the values of m and C for only these movies and proceed to
build the chart

In [ ]:
def built_chart(gen_df, percentile=0.8):
    print('Input preferred genre')
    genre = input()

    print('Input preferred shortest duration')
    low_runtime = int(input())

    print('Input preferred longest duration')
    high_runtime = int(input())

    print('Input preferred earliest year of release')
    low_year = int(input())

    print('Input preferred latest year of release')
    high_year = int(input())

    movies = gen_df.copy()
    #Filter based on the prerequisites
    movies = movies[(movies['genre'] == genre) & (movies['runtime'] >= low_runtime) & (movies['runtime'] <= high_runtime) &
            (movies['year'] >= low_year) & (movies['year'] <= high_year)]

    #Compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile (percentile)

    #Only consider movies that have higher than m votes
    #q_movies = movies[movies['vote_count'] >= m]
    q_movies = movies.copy().loc[movies['vote_count'] >= m]
   
    #Calculate score using the IMDB formula
    #q_movies['score'] = q_movies.apply(lambda x: ((x['vote_count'] / (x['vote_count'] + m)) * x['vote_average']) + ((m / (m + x['vote_count'])) * C), axis=1)
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    
    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values(by='score', ascending=False)
    
    return q_movies

In [ ]:
built_chart(gen_df).head()

Input preferred genre
Comedy
Input preferred shortest duration
20
Input preferred longest duration
120
Input preferred earliest year of release
2013
Input preferred latest year of release
2020

                          title  runtime  vote_average  ...  year   genre     score
22841  The Grand Budapest Hotel     99.0           8.0  ...  2014  Comedy  7.937565
30315                Inside Out     94.0           7.9  ...  2015  Comedy  7.858467
24455                Big Hero 6    102.0           7.8  ...  2014  Comedy  7.757565
38798         Captain Fantastic    119.0           7.9  ...  2016  Comedy  7.731999
36253                  Zootopia    108.0           7.7  ...  2016  Comedy  7.649011

[5 rows x 7 columns]